@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@font-face {
  font-family: 'ThePortologo';
  src: url('./fonts/ThePortologo.ttf') format('truetype');
}

@font-face {
  font-family: 'GraphikArts';
  src: url('./fonts/GraphikArts.ttf') format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  --tip: #999;
  --video: url('./videos/intro.mp4');
  --glass: blur(10px);
  --pageTransition: all .5s ease-in-out;
}

::selection {
  background-color: var(--t);
  color: var(--cta);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-image: var(--bgc);
  color: var(--t);
  height: 100dvh;
}

html, body {
    overflow: hidden;
}

.dark-mode {
  --cta: #294451;
  --t: #ddd;
  --bgc: linear-gradient(to bottom, #000, #111, #111, #111);
  --bgcsolid: #111;
  --menu: #ddd;
  --formbg: #000;
  --negativeText: #111;
  --settings: invert(24%) sepia(22%) saturate(827%) hue-rotate(155deg) brightness(92%) contrast(92%);
  --invert: invert();
  --backdrop: #ffffffcf;
}

.light-mode {
  --cta: #d16603;
  --cta-line: linear-gradient(to right, var(--cta), transparent);
  --t: #111;
  --bgc: linear-gradient(to bottom, #fff, #ddd, #ddd, #ddd);
  --bgcsolid: #ddd;
  --menu: #111;
  --formbg: #fff;
  --negativeText: #ddd;
  --settings: invert(47%) sepia(34%) saturate(5487%) hue-rotate(10deg) brightness(92%) contrast(98%);
  --backdrop: #000000cf;
}

.home-container {
  display: grid;
  grid-template-areas:
  'stats img info'
  'quote quote quote';
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  row-gap: 20px;
  padding-top: 10px;
}

.traits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2px;
}

.trait {
  display: grid;
  place-content: center;
  flex-grow: 1;
  border: 1px solid var(--menu);
  border-radius: 6px;
  margin: 2px;
  padding: 0 6px;
  color: var(--t);
  background-color: var(--cta);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s;
}
.trait:hover {
  background-color: var(--t);
  color: var(--cta);
  cursor: pointer;
}

.facecard {
  display: grid;
  place-content: center;
}
.facecardleft {
  grid-area: stats;
  gap: 40px;
  text-align: justify;
  & h2 {
    padding: 2px 0;
  }
}
.facecardright {
  grid-area: info;
}

.stats {
  display: grid;
}

.progress {
  width: 100%;
  height: 18px;
  background-color: var(--menu);
  border-radius: 6px;
  border: 2px solid var(--menu);
}
.progress::-moz-progress-bar {
  background-color: var(--cta);
  border-radius: 4px;
}
.progress::-webkit-progress-bar {
  background-color: var(--menu);
  border-radius: 4px;
}
.progress::-webkit-progress-value {
  background-color: var(--cta);
  border-radius: 4px;
}

.eru {
  position: relative;
  grid-area: img;
  display: flex;
  align-items: end;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--cta);
  height: 100%;
  width: 100%;
  max-height: 526px;
  transition: var(--pageTransition)
}
.eruLight {
  opacity: 1;
}
.eruDark {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.eruImg {
  width: 100%;
  transition: var(--pageTransition)
}

.home-quote-container {
  grid-area: quote;
  place-self: center;
  text-align: center;
  padding-top: 40px;
}
.home-quote {
  position: relative;
  font-family: Staatliches;
  font-size: 24px;
}
.home-quote::before {
  position: absolute;
  content: '"';
  top: 16px;
  left: -20px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  line-height: 0;
}
.home-quote::after {
  position: absolute;
  content: '"';
  bottom: -8px;
  right: -20px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  line-height: 0;
}

.easteregg {
  position: absolute;
  top: 20px;
  right: -18px;
  width: 20px;
  height: 10px;
  border-radius: 20px;
  z-index: 6;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--cta), var(--bgcsolid));
  z-index: 6;
}

.modalContent {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 30px;
  width: 100%;
  max-width: 300px;
}

h1 {
  font-size: 50px;
}

h2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

h3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
h3::after {
  position: absolute;
  background: var(--cta);
  content: '';
  bottom: 0;
  height: 2px;
  width: 100%;
}

h4 {
  display: grid;
  place-content: center;
  background-color: var(--cta);
  border-bottom: 2px solid var(--cta);
  width: 100%;
  transition: background-color .3s linear, border-bottom .3s linear;
}

.collapse {
  position: relative;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.pAbout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: justify;
}

a {
  position: relative;
  font-weight: 500;
  color: var(--negativeText);
  text-decoration: inherit;
}
a:hover::after {
  position: absolute;
  bottom: 0px;
  right: -7px;
  content: "";
  width: 3px;
  border-radius: 6px;
  border: 3px solid var(--t);
  animation: animatelink .2s linear;
}
@keyframes animatelink {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--cta);
    opacity: 1;
    transform:scale(1)
  }
}
.active {
  position: relative;
  color: var(--t);
}

.active::after {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 3px;
  border-radius: 6px;
  border: 3px solid var(--formbg);
  animation: animatelink .2s linear;
}
@keyframes animatelink {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--cta);
    opacity: 1;
    transform:scale(1)
  }
}
.active:hover::after {
  color: var(--cta);
  border: 3px solid var(--t);
  animation: animatelinkhover .2s linear;
}
@keyframes animatelinkhover {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--t);
    opacity: 1;
    transform:scale(1)
  }
}

.app {
    display: flex;
    flex-direction: column;
}

.invert-filter {
    filter: invert();
  }

  .invert-filter-arrows button {
    filter: invert();
  }
  
  .settings {
    position: fixed;
    top: 3px;
    right: -90px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 8px 3px 8px;
    background-color: var(--cta);
    border-bottom-left-radius: 6px;
    z-index: 5;
    transition: var(--pageTransition);
    -webkit-user-select: none;
    user-select: none;
  }
  .settingsTabSlideOut {
    transform: translateX(-90px);
    transition: var(--pageTransition);
}

  .settingsTabCogwheel {
    width: 23px;
    height: 20px;
    cursor: pointer;
    transition: var(--pageTransition);
}

.settingsTabCogwheel::after {
  position: absolute;
  top: 3px;
  right: 125px;
  display: none;
  place-content: center;
  content: 'Open settings';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
}
.settingsTabCogwheel:hover::after {
  display: grid;
}

.settingsTabSlideOut .settingsTabCogwheel::after {
  content: 'Close settings';
}

.settingsTabMinimizeHeader {
  position: relative;
  cursor: pointer;
}
.settingsTabMinimizeHeader::after {
  position: absolute;
  top: 2.5px;
  right: 117px;
  display: none;
  place-content: center;
  content: 'Maximize header';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
}
.settingsTabMinimizeHeader:hover::after {
  display: grid;
}

.settingsTabMinimizeHeaderClose {
  position: relative;
  transform: rotate(180deg);
}
.settingsTabMinimizeHeaderClose::after {
  position: absolute;
  top: -3.5px;
  left: 117px;
  display: none;
  place-content: center;
  content: 'Minimize header';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
  transform: rotate(180deg);
}
.settingsTabMinimizeHeaderClose:hover::after {
  display: grid;
}



  .displayModeMini {
    position: relative;
    cursor: pointer;
    transition: .3s;
    display: grid;
  }
  .displayModeMini::after {
    position: absolute;
    top: 3px;
    right: 63px;
    display: none;
    place-content: center;
    content: 'Toggle light/dark-mode';
    width: 190px;
    height: 25px;
    padding-bottom: 2px;
    border-radius: 6px;
    color: var(--negativeText);
    background-color: var(--menu);
    pointer-events: none;
    transition: var(--pageTransition);
  }

  .displayModeMini:hover::after {
    display: grid;
  }

.translator-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: .3s;
  }
  .translator-button::after {
    position: absolute;
    top: 0.5px;
    right: 90px;
    display: none;
    place-content: center;
    content: 'Toggle language';
    width: 190px;
    height: 25px;
    padding-bottom: 2px;
    border-radius: 6px;
    color: var(--negativeText);
    background-color: var(--menu);
    pointer-events: none;
  }
  .translator-button:hover::after {
    display: grid;
  }
  
  .translator {
    position: absolute;
    top: 35px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    background-color: var(--bgcsolid);
    padding: 8px 8px;
    border: 2px solid var(--t);
    border-radius: 6px;
  }
  .translator::before {
    position: absolute;
    top: -14px;
    right: 21px;
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--t) transparent;
  }

  .translator-button-mini {
    transition: .3s;
    cursor: pointer;
    pointer-events: all;
    background-color: transparent;
  }

  .flags {
    background-color: var(--cta);
      & :hover {filter: invert();}
  }

  .flags .nocursor:hover {
    filter: invert();
  }

  .settingsTabSlideOut .flags {
    display: none;
  }

  .nocursor {
    cursor: none;
    pointer-events: none;
    opacity: 1;
  }

  
  .hidden {
    display: none;
  }

.langOption {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: var(--t);
  }
  .langOption:disabled {
    color: var(--cta);
    cursor: default;
    filter: opacity(50%);
  }

.enterfullscreen {transition: .3s;}
.enterfullscreen:hover {transform: scale(1.1) translateX(1px) translateY(-1px);}

.exitfullscreen {transition: .3s;}
.exitfullscreen:hover {transform: scale(0.9) translateX(-1px) translateY(1px);}

  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--cta);
    border-bottom: 2px solid var(--cta);
    transition: var(--pageTransition);
    z-index: 4;
  }

  .headerShrink {
    top: -144px;
    border-bottom: 10px solid var(--cta);
  }

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.PRDlogo {
  height: 100px;
  width: 100px;
  background-image: url('./images/prdlogoWolftransparent.png');
  background-size: cover;
  transition: var(--pageTransition);
  cursor: pointer;
  border: 2px solid var(--t);
  background-color: var(--t);
  border-radius: 50%;
}


.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 68px;
}
.PRDlogoTitleRiot {
  grid-area: riot;
  text-transform: uppercase;
  font-family: 'GraphikArts';
  font-size: 40px;
  padding-left: 2px;
  line-height: 20px;
}
.PRDlogoTitleDesign {
  position: relative;
  grid-area: design;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 8px;
  line-height: 34px;
}
.PRDlogoTitleDesign::after {
  position: absolute;
  bottom: -6px;
  right: -20px;
  content: '.no';
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  color: var(--negativeText);
  transition: var(--pageTransition);
}

  nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--cta);
    z-index: 3;
    transition: var(--pageTransition);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 280px;
    list-style-type: none;
  }

.cardContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  height: 100%;
  max-height: 784px;
  visibility: hidden;
  overflow: hidden;
}
.cardContainer > * {
  visibility: visible;
}

.cardContainer:hover > :not(:hover, .projectSynopsis) {
  opacity: 0.7;
  border: 2px solid var(--bgcsolid);
  border-radius: 8px;
}

.cardContainerFade:hover > :not(:hover, .projectSynopsis) {
  opacity: 0.1;
  border: 2px solid var(--cta);
}

.projectCard {
  display: grid;
  grid-template-areas: 
    'title'
    'buttons';
  grid-template-rows: 26px 1fr;
  background-color: var(--menu);
  border: 2px solid var(--cta);
  border-radius: 6px;
  transition: border .3s linear, opacity .3s linear, transform 50ms linear;
  &:hover {
    border: 2px solid var(--menu);
  }
  &:hover h4:not(.projectSynopsisTitle) {
    border-bottom: 2px solid var(--menu);
    background-color: var(--menu);
    color: var(--cta);
  }
}
.projectCard:hover .cardButton {
  opacity: 1;
}

.projectCardTitle {
  grid-area: title;
  border-bottom: 2px solid var(--cta);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cardButton {
  opacity: 0;
  display: grid;
  place-content: center;
  background-color: var(--menu);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: all .3s linear, transform .1s linear;
}
.cardButton:hover {
  background-color: var(--cta);
  cursor: pointer;
  & img {
    filter: none;
  }
}
.cardButton:active {
  transform: scale(0.95);
}
.cardButton a {
  text-decoration: none;
  color: inherit;
  background: transparent;
  font-weight: inherit;
}
.cardButton a::after {
  border: none;
}

.projectSynopsis {
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  width: calc(50% - 10px);
  height: 100%;
  transform: translateY(100%);
  border: 2px solid var(--menu);
  border-radius: 6px;
  background-color: var(--bgcsolid);
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  padding: 10px 10px 3px 10px;
  transition: all .2s linear;
  & .codeSpace {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    & .projectSynopsisTechnologies {
      color: var(--cta);
      font-size: 14px;
    }
  }
}
.projectSynopsisRight {
  right: 0;
}
.projectSynopsisLeft {
  left: 0;
}

.selectedProjectCard {
  opacity: 1;
  transform: translateY(0);
}

.projectSynopsisTitle {
  border-bottom: 0;
  border-radius: 4px;
  font-size: 16px;
}

.projectSummary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
  & span {
    padding: 0 4px;
  }
  & h3 {
    justify-content: right;
  }
}

.responsiveMessage {
  display: none;
}

.projectsMenuContainer {
  position: relative;
  width: 100%;
  height: 24px;
}

.projectsMenu {
  position: absolute;
  background-color: var(--menu);
  width: 100%;
  padding: 0 25px;
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: var(--pageTransition);
  z-index: 3;
}

.projectsMenu a {
  font-weight: 700;
}
.projectsMenu .active {
  color: var(--cta);
  font-weight: 700;
}
.projectsMenu .active::after,
.projectsMenu a:hover::after {
  display: none;
}

  .projectsMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .projectsMenu ul:hover {
    overflow: visible;
  }
  .projectsMenu li {
    position: relative;
    float: left;
  }
  
  .projectsMenu .overView::before {
      position: absolute;
      content: '';
      border: 4px solid var(--menu);
      border-radius: 50%;
      bottom: 5px;
      left: -29px;
      transition: var(--pageTransition);
    }
    .projectsMenu .overView:hover::before {border: 4px solid var(--cta);}

  .projectsMenu span {
    display: block;
    padding: 10px 30px;
    height: 100%;
    color: var(--negativeText);
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease-in;
  }

  .projectsMenu .menuSpacerTop {
    padding: 0px 30px;
  }
  .projectsMenu .menuSpacerBottom {
    padding: 10px 30px;
  }
  .projectsMenu .menuSpacerBottomGrow {
    height: 10px;
  }
  .projectsMenuShrink span:not(.menuCategory, .menuItem) {
    padding: 1px 30px 0 30px;
    margin-top: 4px;
  }

  .projectsMenu .projects::before {
    position: absolute;
    content: '';
    border: 4px solid var(--menu);
    border-radius: 50%;
    top: 19px;
    left: 0px;
    transition: var(--pageTransition);
  }
  .projectsMenu .projects:hover::before {border: 4px solid var(--cta);}

.projectsMenu .projects::after {
  position: absolute;
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: var(--formbg) transparent transparent transparent;
  top: 20px;
  right: 10px;
  transition: var(--pageTransition);
}
.projectsMenu .projects:hover::after {
  border-color: var(--cta) transparent transparent transparent;
}

.projectsMenu .projectsMinimized::before {top: 14px;}
.projectsMenu .projectsMinimized::after {top: 15px;}

  .projectsMenu .menuCategory {
    position: relative;
    padding-top: 12px;
  }

  .projectsMenu .apps::after,
  .projectsMenu .websites::after {
    position: absolute;
    content: ':';
    bottom: 11px;
    right: 12px;
    transition: all .3s linear;
  }
  .projectsMenu .apps:hover::after,
  .projectsMenu .websites:hover::after {
    color: var(--cta);
  }

  .projectsMenu .apps::before,
  .projectsMenu .websites::before {
    position: absolute;
    content: '';
    border: 4px solid var(--menu);
    border-radius: 50%;
    bottom: 17px;
    left: -2px;
    transition: all .3s linear;
  }
  .projectsMenu .apps:hover::before,
  .projectsMenu .websites:hover::before {
    border: 4px solid var(--cta);
  }
  .projectsMenu .apps::after,
  .projectsMenu .websites::after {
    color: var(--negativeText);
  }


  /* second level */
  .projectsMenu ul ul {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height .3s;
  }
  .projectsMenu .horizontalMenu {flex-direction: row;}
  
  .projectsMenu ul li:hover ul {
    max-height: 999px;
  }
  .projectsMenu ul ul li {
    float: none;
    background-color: var(--menu);
    border: 2px solid transparent;
  }
  .projectsMenu ul ul li:hover {
    background-color: var(--menu);
  }
  
  /* third level */
  .projectsMenu ul ul ul {
    position: absolute;
    width: 0;
    top: 0px;
    left: 100%;
  }
  .projectsMenu ul ul li:hover ul {
    width: 100vw;
  }
  .projectsMenu ul ul ul li {
    margin: 0 10px;
    background-color: var(--menu);
    transition: .3s;
  }
  .projectsMenu ul ul ul li:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid var(--cta);
    border-right: 2px solid var(--cta);
    border-radius: 20px;
    padding-bottom: 1px;
  }

  .projectsMenuItemShrink ul ul ul {
    top: 5px;
  }
  .projectsMenuItemShrink ul ul ul li:hover {
    padding-bottom: 7px;
  }

.page {
  display: grid;
  place-content: center;
  width: 100vw;
  margin-top: 144px;
  transition: var(--pageTransition);
}
.pageContentAdapt {
  margin-top: 0px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    max-width: 1000px;
    height: calc(100dvh - 295px);
    padding: 34px 40px;
    transition: height .5s ease-in-out;
  }

.pageContentGrow {
    height: calc(100dvh - 151px);
  }

  .projectContent {
    display: grid;
    place-self: center;
    width: 100vw;
    max-width: 1000px;
    max-height: 100dvh;
    padding: 20px 40px 4px 40px;
    transition: padding .5s ease-in-out, max-height .5s ease-in-out;
  }
  .projectContentShrink {
    padding: 6px 40px 4px 40px;
    max-height: calc(100dvh - 802px);
    transition: padding .5s ease-in-out, max-height .5s ease-in-out;
  }

.wrapper {
  position: relative;
  overflow: hidden;
}

  iframe {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: calc(100dvh - 306px);
    transition: var(--pageTransition);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .iframeGrow {
    height: calc(100dvh - 148px);
    transition: max-height 380ms ease-in-out;
  }

  .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 40px  30px 0 40px;
    width: 100%;
    font-family: 'Niconne', cursive;
    line-height: 40px;
  }

  .title img {
    position: absolute;
    top: 10px;
    right: 40px;
  }
  
  .projectTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 31px 0 7px 0;
    width: 100%;
    margin-top: 0px;
  }

  .projectTitle img {
    padding-top: 10px;
  }

  .projectTitleShrink {
    margin-top: 10px;
  }

  .about {
    display: inline-block;
  }
  
  .categorySection {
    display: flex;
    justify-content: flex-end;
    background-color: var(--menu);
    border-radius: 8px;
    border: 2px solid var(--menu);
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    transition: background-color .5s ease-in-out;
  }

  .categories {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 14px;
    padding: 2px 20px 4px 20px;
    border-radius: 6px;
    background-color: var(--cta);
    transition: background-color .5s ease-in-out;
  }

  .badgeCategory {
    cursor: pointer;
    color: var(--negativeText);
  }
  .badgeCategory:hover {
    color: var(--t);
  }
  .badgeCategoryActive {
    cursor: default;
    color: var(--t);
  }
  
  .badgesSectionItem {
    display: flex;
    justify-content: space-around;
  }
  
  .badgesSectionCode {
    display: flex;
  }
  .badgesSectionPrograms,
  .badgesSectionTools {
    display: none;
  }
  
  [data-target]:hover + .badgesSection[data-target],
  [data-target]:hover + .badgesSectionItem {
    display: flex;
  }
  
  .badgeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
  }

  .badgeContainer:hover .badgeFloat {
    opacity: 1;
  }
  
  .badgeContainer::before {
    position: absolute;
    top: 11px;
    border-radius: 50%;
    border: 4px solid var(--t);
    width: 80px;
    height: 78px;
    background-color: var(--bgcsolid);
    content: '';
    z-index: 2;
    opacity: 0;
    transition: all 300ms;
    transform: scale(0);
  }
  
  .badgeContainer:hover::before {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0px 10px var(--cta);
  }
  
  .badgeContainer::after {
    position: absolute;
    background-color: var(--bgcsolid);
    top: 0px;
    transform: scaleX(0.1);
    width: 91px;
    height: 100dvh;
    text-align: center;
    content: '';
    opacity: 1;
    transition: all .3s;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }
  
  .badgeContainer:hover::after {
    background-color: var(--t);
    top: 20px;
    transform: scaleX(1);
    opacity: 1;
  }
  
  .badgeFloat {
    opacity: 0.5;
    transition: all .4s;
    object-fit: contain;
    height: 40px;
    z-index: 5;
    cursor:crosshair;
    transform: scale(0.6);
  }
  
  .badgeText {
    position: absolute;
    top: -10px;
    color: var(--t);
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: all .3s;
    transform: scale(0) translateX(0);
    z-index: 1;
  }
  
  .badgeContainer:hover .badgeFloat {
    transform: scale(1) rotate(360deg);
  }
  
  .badgeContainer:hover .badgeText {
    opacity: 1;
    transform: scale(1) translateY(120px);
    background-color: var(--negativeText);
    border-radius: 6px;
    padding: 2px 5px;
  }

  .form-box {
    display: flex;
    align-items: baseline;
    background-color: var(--formbox);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 784px;
    border-radius: 10px;
    box-shadow: 0 3px 5px var(--formboxshadow);
    transition: var(--pageTransition);
  }
  
  form {
    display: grid;
    grid-template-areas:
      'firstname lastname'
      'email email'
      'textarea textarea'
      'clear submit';
      grid-template-rows: 52px 52px 1fr 52px;
      grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 100%;
    transition: var(--pageTransition);
  }  
  
  .input-container {
    height: 50px;
    position: relative;
  }
  
  .firstname {
    grid-area: firstname;
  }
  
  .lastname {
    grid-area: lastname;
  }
  
  .email {
    grid-area: email;
  }
  
  input:not([type="checkbox"]) {
    background-color: var(--formbg);
    border-radius: 6px;
    border: 0;
    color: var(--t);
    font-size: 18px;
    height: 100%;
    width: 100%;
    outline: 0;
    padding: 4px 20px 0;
  }
  
  .cut {
    background-color: transparent;
    border-radius: 6px;
    left: 20px;
    position: absolute;
    top: -12px;
    transform: translateY(0);
    transition: all .2s linear;
    opacity: 0;
    font-size: 0px;
    line-height: 3px;
    padding: 10px 0;
    color: transparent;
  }
  
  input:not([type="checkbox"]):focus ~ .cut,
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut {
    background-color: var(--cta);
    padding: 0 10px 1px 10px;
    opacity: 1;
    font-size: 16px;
    line-height: 22px;
    color: var(--formbg);
  }

  .placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--tip);
    font-family: sans-serif;
    line-height: 14px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: all .2s linear;
  }
  
  input:not([type="checkbox"]):focus ~ .placeholder,
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-24px) translateX(14px) scale(0);
  }
  
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut {
    color: var(--t);
  }
  
  input:not([type="checkbox"]):focus ~ .placeholder {
    color: transparent;
  }
  
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    grid-area: submit;
    background-color: var(--menu);
    border-radius: 6px;
    border: 0;
    color: var(--cta);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .rotate-animation { animation: spin 0.3s linear 1; }
  
  .submit:hover {
    color: var(--t);
    background-color: var(--cta);
    transition: all 0.1s linear;
  }
  
  .submit:active { transform: scale(0.99); }
  
  .submit .clearFormImg,
  .submit .sendFormImg {
    filter: var(--settings);
  }
  .submit:hover .clearFormImg,
  .submit:hover .sendFormImg {
    filter: var(--invert);
  }
  .submit:hover .sendFormImg {
    animation: send 1s linear infinite;
  }
  @keyframes send {
    0% { transform: translateX(0px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
  }
  
  .clear { grid-area: clear; }
  
  
  textarea {
    grid-area: textarea;
    width: 100%;
    padding: 16px 20px;
    border: 0;
    border-radius: 6px;
    background-color: var(--formbg);
    color: var(--t);
    font-size: 16px;
    resize: none;
  }

.projectsBar {
  position: fixed;
  top: 142px;
  width: 100%;
  z-index: 3;
  transition: var(--pageTransition);
}

.projectsBarShrink {
  top: 0px;
}

.translation {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
}

.translationAnimation {
  width: 102px;
  height: 101px;
  margin-bottom: 40px;
  animation: flagspin 2s ease-in-out infinite;
}

@keyframes flagspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


  @media only screen and (max-width: 806px) {
    html, body {
      overflow-y: scroll;
  }
    body {
      background-image: none;
      background-color: var(--bgcsolid);
    }
    header {
      position: fixed;
    }
    .page {
      margin-top: 0;
      padding-top: 144px;
    }
    .pageContent {
      font-size: 14px;
      height: auto;
      overflow: visible;
    }
    .title {
      margin-top: 4px;
    }
    .projectsBar {
      display: none;
    }
    .cardButton {
      display: none;
    }
    .responsiveMessage {
      display: inline-block;
      margin-top: 40px;
      padding: 20px;
      text-align: justify;
      border: 2px solid var(--cta);
      border-radius: 6px;
      font-size: 16px;
      font-weight: 700;
    }
    .home-container {
      display: grid;
      place-items: center;
      grid-template-areas:
      'img'
      'quote'
      'stats'
      'info';
      grid-template-columns: 1fr;
      row-gap: 20px;
  }
  .home-quote-container {
    padding-top: 0px;
  }
  .eru {
    width: 200px;
}
.form-box {
  height: calc(100dvh - 300px);
  margin-bottom: 0px;
}
.form-box-grow {
  height: calc(100dvh - 226px)
}
    form {
      row-gap: 0px;
      font-size: 12px;
    }
    .input-container {
      height: 32px;
    }
    input:not([type="checkbox"]) {
      font-size: 16px;
      padding: 4px 0 2px 12px;
  }
    input:not([type="checkbox"]):focus ~ .cut,
    input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut {
      padding: 0 10px 2px 10px;
      font-size: 12px;
      line-height: 16px;
    }
    .placeholder {
      left: 14px;
      top: 9px;
    }
    .submit {
      margin-top: 18px;
      height: 40px;
      font-size: 14px;
    }
    .projectTitle {
    padding: 10px 0 7px 0;
    margin-top: 20px;
  }
    .projectContent {
      padding: 20px 0 0 12px;
      font-size: 14px;
      height: 100%;
    }
    .projectContentShrink {
      padding: 6px 40px 4px 40px;
      max-height: 100%;
      transition: var(--pageTransition);
    }
    iframe {
      height: calc(100dvh - 297px);
    }
    .iframeGrow {
      height: calc(100dvh - 216px);
    }
    .cardContainer {
      grid-template-columns: repeat(1, 1fr);
      max-height: 100%;
    }
    .pAbout {
      padding-bottom: 4px;
    }
    .categories {
      width: 100%;
      justify-content: center;
      padding: 2px 0 4px 0;
    }
    .badgeContainer {
      padding: 30px 20px;
    }
    .badges {
      position: absolute;
      bottom: 15px;
      left: 10px;
      padding: 10px;
      display: flex;
      z-index: 3;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 6px;
    }
    .sectionRight {
      display: none;
    }
    .settingsTabMinimizeHeader {
      display: none;
    }
    .settings {
      right: -62px;
    }
    .settingsTabSlideOut {
      transform: translateX(-62px);
  }
  .badgeContainer::after {
    display: none;
  }
  nav {
  display: none;
}
.footerspace {
  display: block;
  height: 126px;
}
  }