@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@font-face {
  font-family: 'ThePortologo';
  src: url('./fonts/ThePortologo.ttf') format('truetype');
}

@font-face {
  font-family: 'GraphikArts';
  src: url('./fonts/GraphikArts.ttf') format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --tip: #999;
  --video: url('./videos/intro.mp4');
  --glass: blur(10px);
  --pageTransition: all .5s ease-in-out;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-image: var(--bgc);
  color: var(--t);
  height: 100vh;
}

html, body {
    overflow: hidden;
}

.dark-mode {
  --cta: #3f677b;
  --t: #ddd;
  --bgc: linear-gradient(to bottom, #000, #111, #111, #111);
  --bgcsolid: #111;
  --menu: #ddd;
  --formbg: #000;
  --negativeText: #111;
  --settings: invert(34%) sepia(41%) saturate(466%) hue-rotate(155deg) brightness(96%) contrast(87%);
  --invert: invert();
}

.light-mode {
  --cta: #d16603;
  --t: #111;
  --bgc: linear-gradient(to bottom, #fff, #ddd, #ddd, #ddd);
  --bgcsolid: #ddd;
  --menu: #111;
  --formbg: #fff;
  --negativeText: #ddd;
  --settings: invert(47%) sepia(34%) saturate(5487%) hue-rotate(10deg) brightness(92%) contrast(98%);
}

h1 {
  font-size: 50px;
}

h3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--cta);
  padding-top: 20px;
}

.collapse {
  position: relative;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.inputAbout {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.pAbout {
  /* transition: .2s ease-in; */
  width: 100%;
  height: 0;
  overflow: hidden;
  text-align: justify;
}

.inputAbout:checked ~ .pAbout {
  height: 100%;
  padding-top: 10px;
}

a {
  position: relative;
  font-weight: 500;
  color: var(--negativeText);
  text-decoration: inherit;
}
a:hover::after {
  position: absolute;
  bottom: 0px;
  right: -7px;
  content: "";
  width: 3px;
  border-radius: 6px;
  border: 3px solid var(--t);
  animation: animatelink .2s linear;
}
@keyframes animatelink {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--cta);
    opacity: 1;
    transform:scale(1)
  }
}
.active {
  position: relative;
  color: var(--t);
}

.active::after {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 3px;
  border-radius: 6px;
  border: 3px solid var(--formbg);
  animation: animatelink .2s linear;
}
@keyframes animatelink {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--cta);
    opacity: 1;
    transform:scale(1)
  }
}
.active:hover::after {
  color: var(--cta);
  border: 3px solid var(--t);
  animation: animatelinkhover .2s linear;
}
@keyframes animatelinkhover {
  0% {
    color: var(--t);
    opacity: 0;
    transform:scale(0)
  }
  100% {
    color: var(--t);
    opacity: 1;
    transform:scale(1)
  }
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.invert-filter {
    filter: invert();
  }

  .invert-filter-arrows button {
    filter: invert();
  }
  
  .settings {
    position: fixed;
    top: 3px;
    right: -90px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 8px 3px 8px;
    background-color: var(--cta);
    border-bottom-left-radius: 6px;
    z-index: 300;
    transition: var(--pageTransition);
    user-select: none;
  }
  .settingsTabSlideOut {
    transform: translateX(-90px);
    transition: var(--pageTransition);
}

  .settingsTabCogwheel {
    width: 23px;
    height: 20px;
    cursor: pointer;
    /* transition: transform .3s; */
}

.settingsTabSlideOut .settingsTabCogwheel {
  /* transform: rotate(180deg); */
}

.settingsTabCogwheel::after {
  position: absolute;
  top: 3px;
  right: 125px;
  display: none;
  place-content: center;
  content: 'Open settings';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
}
.settingsTabCogwheel:hover::after {
  display: grid;
}

.settingsTabSlideOut .settingsTabCogwheel::after {
  content: 'Close settings';
}

.settingsTabMinimizeHeader {
  position: relative;
  cursor: pointer;
  /* transition: .3s; */
}
.settingsTabMinimizeHeader::after {
  position: absolute;
  top: 2.5px;
  right: 117px;
  display: none;
  place-content: center;
  content: 'Maximize header';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
}
.settingsTabMinimizeHeader:hover::after {
  display: grid;
}

.settingsTabMinimizeHeaderClose {
  position: relative;
  transform: rotate(180deg);
}
.settingsTabMinimizeHeaderClose::after {
  position: absolute;
  top: -3.5px;
  left: 117px;
  display: none;
  place-content: center;
  content: 'Minimize header';
  width: 190px;
  height: 25px;
  padding-bottom: 2px;
  border-radius: 6px;
  color: var(--negativeText);
  background-color: var(--menu);
  pointer-events: none;
  transform: rotate(180deg);
}
.settingsTabMinimizeHeaderClose:hover::after {
  display: grid;
}



  .displayModeMini {
    position: relative;
    cursor: pointer;
    transition: .3s;
    display: grid;
  }
  .displayModeMini::after {
    position: absolute;
    top: 3px;
    right: 63px;
    display: none;
    place-content: center;
    content: 'Toggle light/dark-mode';
    width: 190px;
    height: 25px;
    padding-bottom: 2px;
    border-radius: 6px;
    color: var(--negativeText);
    background-color: var(--menu);
    pointer-events: none;
    transition: var(--pageTransition);
  }
  .displayModeMini:hover::after {
    display: grid;
  }

.translator-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: .3s;
  }
  .translator-button::after {
    position: absolute;
    top: 0.5px;
    right: 90px;
    display: none;
    place-content: center;
    content: 'Toggle language';
    width: 190px;
    height: 25px;
    padding-bottom: 2px;
    border-radius: 6px;
    color: var(--negativeText);
    background-color: var(--menu);
    pointer-events: none;
  }
  .translator-button:hover::after {
    display: grid;
  }
  
  .translator {
    position: absolute;
    top: 35px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    background-color: var(--bgcsolid);
    padding: 8px 8px;
    border: 2px solid var(--t);
    border-radius: 6px;
  }
  .translator::before {
    position: absolute;
    top: -14px;
    right: 21px;
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--t) transparent;
  }

  .translator-button-mini {
    transition: .3s;
    cursor: pointer;
    pointer-events: all;
    background-color: transparent;
  }

/* .languageCode {
  display: grid;
  width: 34px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
} */

  .flags {
    background-color: var(--cta);
      & :hover {filter: invert();}
  }

  .flags .nocursor:hover {
    filter: invert();
  }

  .settingsTabSlideOut .flags {
    display: none;
  }

  .nocursor {
    cursor: none;
    pointer-events: none;
    opacity: 1;
  }

  
  .hidden {
    display: none;
  }

.langOption {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: var(--t);
  }
  .langOption:disabled {
    color: var(--cta);
    cursor: default;
    filter: opacity(50%);
  }

.enterfullscreen {transition: .3s;}
.enterfullscreen:hover {transform: scale(1.1) translateX(1px) translateY(-1px);}

.exitfullscreen {transition: .3s;}
.exitfullscreen:hover {transform: scale(0.9) translateX(-1px) translateY(1px);}

  header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--cta);
    border-bottom: 2px solid var(--cta);
    transition: var(--pageTransition);
    z-index: 4;
  }

  .headerShrink {
    top: -144px;
    border-bottom: 10px solid var(--cta);
  }

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.PRDlogo {
  height: 100px;
  width: 100px;
  background-image: url('./images/prdlogoWolftransparent.png');
  background-size: cover;
  transition: var(--pageTransition);
  cursor: pointer;
  border: 2px solid var(--t);
  background-color: var(--t);
  border-radius: 50%;
}


.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 68px;
}
.PRDlogoTitleRiot {
  grid-area: riot;
  text-transform: uppercase;
  font-family: 'GraphikArts';
  font-size: 40px;
  padding-left: 2px;
  line-height: 20px;
}
.PRDlogoTitleDesign {
  position: relative;
  grid-area: design;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 8px;
  line-height: 34px;
}
.PRDlogoTitleDesign::after {
  position: absolute;
  bottom: -6px;
  right: -20px;
  content: '.no';
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  color: var(--negativeText);
  transition: var(--pageTransition);
}

  nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--cta);
    z-index: 3;
    transition: var(--pageTransition);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 280px;
    list-style-type: none;
  }

.projectsMenuContainer {
  position: relative;
  width: 100%;
  height: 24px;
}

.projectsMenu {
  position: absolute;
  background-color: var(--menu);
  width: 100%;
  padding: 0 25px;
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: var(--pageTransition);

}

.projectsMenu a {
  font-weight: 700;
}
.projectsMenu .active {
  color: var(--cta);
  font-weight: 700;
}
.projectsMenu .active::after,
.projectsMenu a:hover::after {
  display: none;
}

  .projectsMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .projectsMenu ul:hover {
    overflow: visible;
  }
  .projectsMenu li {
    position: relative;
    float: left;
  }
  
  .projectsMenu .overView::before {
      position: absolute;
      content: '';
      border: 4px solid var(--menu);
      border-radius: 50%;
      bottom: 5px;
      left: -29px;
      transition: .5s;
    }
    .projectsMenu .overView:hover::before {border: 4px solid var(--cta);}

  .projectsMenu span {
    display: block;
    padding: 10px 30px;
    height: 100%;
    color: var(--negativeText);
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease-in;
  }

  .projectsMenu .menuSpacerTop {
    padding: 0px 30px;
  }
  .projectsMenu .menuSpacerBottom {
    padding: 21px 30px;
  }
  .projectsMenu .menuSpacerBottomGrow {
    height: 36px;
  }

  .projectsMenuShrink span:not(.menuCategory, .menuItem) {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .projectsMenu .projects::before {
    position: absolute;
    content: '';
    border: 4px solid var(--menu);
    border-radius: 50%;
    top: 19px;
    left: 0px;
    transition: .3s;
  }
  .projectsMenu .projects:hover::before {border: 4px solid var(--cta);}

.projectsMenu .projects::after {
  position: absolute;
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: var(--formbg) transparent transparent transparent;
  top: 20px;
  right: 11px;
  transition: .3s;
}
.projectsMenu .projects:hover::after {
  border-color: var(--cta) transparent transparent transparent;
}

.projectsMenu .projectsMinimized::before {top: 14px;}
.projectsMenu .projectsMinimized::after {top: 16px;}

  .projectsMenu .menuCategory {
    position: relative;
    padding-top: 12px;
  }

  .projectsMenu .apps::after,
  .projectsMenu .websites::after {
    position: absolute;
    content: ':';
    bottom: 11px;
    right: 12px;
    transition: all .3s linear;
  }
  .projectsMenu .apps:hover::after,
  .projectsMenu .websites:hover::after {
    color: var(--cta);
  }

  .projectsMenu .apps::before,
  .projectsMenu .websites::before {
    position: absolute;
    content: '';
    border: 4px solid var(--menu);
    border-radius: 50%;
    bottom: 16px;
    left: -2px;
    transition: all .3s linear;
  }
  .projectsMenu .apps:hover::before,
  .projectsMenu .websites:hover::before {
    border: 4px solid var(--cta);
  }
  .projectsMenu .apps::after,
  .projectsMenu .websites::after {
    color: var(--negativeText);
  }


  /* second level */
  .projectsMenu ul ul {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height .3s;
  }
  .projectsMenu .horizontalMenu {flex-direction: row;}
  
  .projectsMenu ul li:hover ul {
    max-height: 999px;
  }
  .projectsMenu ul ul li {
    float: none;
    background-color: var(--menu);
    border: 2px solid transparent;
  }
  .projectsMenu ul ul li:hover {
    background-color: var(--menu);
  }
  
  /* third level */
  .projectsMenu ul ul ul {
    position: absolute;
    width: 0;
    top: 0;
    left: 100%;
  }
  .projectsMenu ul ul li:hover ul {
    width: 100vw;
  }
  .projectsMenu ul ul ul li {
    margin: 0 10px;
    background-color: var(--menu);
    transition: .3s;
  }
  .projectsMenu ul ul ul li:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid var(--cta);
    border-right: 2px solid var(--cta);
    border-radius: 20px;
    padding-bottom: 3px;
  }

.page {
  display: grid;
  place-content: center;
  width: 100vw;
  margin-top: 144px;
  transition: var(--pageTransition);
}
.pageContentAdapt {
  margin-top: 0px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    place-self: center;
    width: 100vw;
    max-width: 1000px;
    height: calc(100vh - 295px);
    padding: 25px 40px 35px 40px;
    transition: height .5s ease-in;
  }

.pageContentGrow {
    height: calc(100vh - 151px);
  }

  .projectContent {
    display: grid;
    place-self: center;
    width: 100vw;
    max-width: 1000px;
    max-height: 100vh;
    padding: 20px 40px 14px 40px;
    transition: padding .5s ease-in-out, max-height .5s ease-in-out;
  }
  .projectContentShrink {
    padding: 6px 40px 14px 40px;
  }

  /* .projectContentGrow {
    max-height: calc(100vh - 805px);
    transition: var(--pageTransition);
  } */

.wrapper {
  position: relative;
  overflow: hidden;
}

  iframe {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: calc(100vh - 382px);
    transition: var(--pageTransition);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .iframeGrow {
    height: calc(100vh - 224px);
  }

  .wonder {
    position: absolute;
    display: grid;
    place-content: center;
    bottom: 46px;
    right: -46px;
    width: 200px;
    height: 30px;
    padding-bottom: 2px;
    background-color: var(--t);
    transform: rotate(-45deg);
    color: var(--cta);
    font-weight: 700;
    pointer-events: none;
    cursor: none;
    opacity: 1;
    z-index: 999;
    transition: var(--pageTransition);
  }
  .wonder::before {
    position: absolute;
    content: '';
    /* bottom: 44px; */
    right: -33px;
    width: 50px;
    height: 80px;
    background-color: var(--bgcsolid);
    transform: rotate(-45deg);
    pointer-events: none;
    cursor: none;
    opacity: 1;
    z-index: 999;
  }

  .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0  30px 0 40px;
    width: 100%;
    font-family: 'Niconne', cursive;
    z-index: -4;
  }

  .title img {
    position: absolute;
    top: 14px;
    right: 40px;
  }
  
  .projectTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 7px 0;
    width: 100%;
    margin-top: 0px;
  }

  .projectTitle img {
    padding-top: 10px;
  }

  .projectTitleShrink {
    margin-top: 10px;
  }

  .about {
    display: inline-block;
  }

  .aboutArrowClose {
    width: 20px;
    height: 11px;
    margin-top: 8px;
    transition: .3s;
    transform: rotate(180deg);
    filter: var(--settings);
    cursor: pointer;
    display: none;
  }

  .aboutArrowOpen {
    width: 20px;
    height: 11px;
    margin-top: 10px;
    transition: .3s;
    transform: rotate(0deg);
    cursor: pointer;
    display: none;
  }
  
  .badgesContainer {

  }
  
  .categorySection {
    display: flex;
    justify-content: flex-end;
    background-color: var(--menu);
    border-radius: 8px;
    border: 2px solid var(--menu);
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    transition: background-color .5s ease-in-out;
  }

  .categories {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 14px;
    padding: 2px 20px;
    border-radius: 6px;
    background-color: var(--cta);
    transition: background-color .5s ease-in-out;
  }

  .badgeCategory {
    cursor: pointer;
    color: var(--negativeText);
  }
  .badgeCategory:hover {
    color: var(--t);
  }
  .badgeCategoryActive {
    cursor: default;
    color: var(--t);
  }
  
  .badgesSectionItem {
    display: flex;
    justify-content: space-around;
  }
  
  .badgesSectionCode {
    display: flex;
  }
  .badgesSectionPrograms,
  .badgesSectionTools {
    display: none;
  }
  
  /* No need to modify this part */
  [data-target]:hover + .badgesSection[data-target],
  [data-target]:hover + .badgesSectionItem {
    display: flex;
  }
  

  /* .sectionRight::before {
    position: absolute;
    content: 'My skills:';
    font-weight: 700;
    top: -15px;
    left: 0px;
    width: 105px;
    display: flex;
    place-content: center;
    padding: 2px 0;
    background-color: var(--cta);
    border-radius: 6px;
  }
  .sectionRight::after {
    position: absolute;
    content: 'Coding';
    top: -15px;
    right: 0;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    background-color: var(--cta);
    border-radius: 6px;
  } */
  
  .badgeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
  }

  .badgeContainer:hover .badgeFloat {
    opacity: 1;
  }
  
  .badgeContainer::before {
    position: absolute;
    top: 11px;
    border-radius: 50%;
    border: 4px solid var(--t);
    width: 80px;
    height: 78px;
    background-color: var(--bgcsolid);
    content: '';
    z-index: 2;
    opacity: 0;
    transition: all 300ms;
    transform: scale(0);
  }
  
  .badgeContainer:hover::before {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0px 10px var(--cta);
  }
  
  .badgeContainer::after {
    position: absolute;
    background-color: var(--bgcsolid);
    top: 0px;
    transform: scaleX(0.1);
    width: 91px;
    height: 100vh;
    text-align: center;
    content: '';
    opacity: 1;
    transition: all .3s;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }
  
  .badgeContainer:hover::after {
    background-color: var(--t);
    top: 20px;
    transform: scaleX(1);
    opacity: 1;
  }
  
  .badgeFloat {
    opacity: 0.5;
    transition: all .4s;
    object-fit: contain;
    height: 40px;
    z-index: 5;
    cursor:crosshair;
    transform: scale(0.6);
  }
  
  .badgeText {
    position: absolute;
    top: -10px;
    color: var(--t);

    /* border-radius: 10px; */
    /* padding: 2px 6px; */
    font-weight: 700;
    font-size: 14px;
    opacity: 0;
    transition: all .3s;
    /* writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase; */
    /* letter-spacing: -6px; */
    /* transform: rotate(0deg); */
    /* white-space: nowrap; */
    transform: scale(0) translateX(0);
    /* transform-origin: center bottom 0; */
    z-index: 1;
  }
  
  .badgeContainer:hover .badgeFloat {
    transform: scale(1) rotate(360deg);
  }
  
  .badgeContainer:hover .badgeText {
    opacity: 1;
    transform: scale(1) translateY(120px);
    background-color: var(--negativeText);
    border-radius: 6px;
    padding: 2px 5px;
  }

  .form-box {
    display: flex;
    align-items: baseline;
    background-color: var(--formbox);
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px var(--formboxshadow);
    transition: var(--pageTransition);
  }
  
  form {
    display: grid;
    grid-template-areas:
      'firstname lastname'
      'email email'
      'textarea textarea'
      'clear submit';
      grid-template-rows: 52px 52px 1fr 52px;
    gap: 20px;
    height: 100%;
    width: 100%;
    transition: var(--pageTransition);
  }  
  
  .input-container {
    height: 50px;
    position: relative;
  }
  
  .firstname {
    grid-area: firstname;
  }
  
  .lastname {
    grid-area: lastname;
  }
  
  .email {
    grid-area: email;
  }
  
  input:not([type="checkbox"]) {
    background-color: var(--formbg);
    border-radius: 6px;
    border: 0;
    color: var(--t);
    font-size: 18px;
    height: 100%;
    width: 100%;
    outline: 0;
    padding: 4px 20px 0;
  }
  
  .cut {
    background-color: transparent;
    border-radius: 6px;
    height: 0px;
    left: 20px;
    position: absolute;
    top: -12px;
    transform: translateY(0);
    transition: all .2s linear;
    width: 0px;
    opacity: 0;
  }
  
  .cut-short {
    height: 0px;
    width: 0px;
  }
  
  input:not([type="checkbox"]):focus ~ .cut,
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut {
    background-color: var(--cta);
    width: 76px;
    height: 20px;
    opacity: 1;
  }
  
  input:not([type="checkbox"]):focus ~ .cut-short,
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut-short {
    width: 50px;
    height: 20px;
  }

  .placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--tip);
    font-family: sans-serif;
    line-height: 14px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: all .2s linear;
  }
  
  input:not([type="checkbox"]):focus ~ .placeholder,
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-29px) translateX(10px) scale(0.75);
  }
  
  input:not([type="checkbox"]):not(:placeholder-shown) ~ .placeholder {
    color: var(--formbg);
  }
  
  input:not([type="checkbox"]):focus ~ .placeholder {
    color: var(--t);
  }
  
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    grid-area: submit;
    background-color: var(--menu);
    border-radius: 6px;
    border: 0;
    color: var(--cta);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .rotate-animation { animation: spin 0.3s linear 1; }
  
  .submit:hover {
    color: var(--t);
    background-color: var(--cta);
    transition: all 0.1s linear;
  }
  
  .submit:active { transform: scale(0.99); }
  
  .submit .clearFormImg,
  .submit .sendFormImg {
    filter: var(--settings);
  }
  .submit:hover .clearFormImg,
  .submit:hover .sendFormImg {
    filter: var(--invert);
  }
  .submit:hover .sendFormImg {
    animation: send 1s linear infinite;
  }
  @keyframes send {
    0% { transform: translateX(0px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
  }
  
  .clear { grid-area: clear; }
  
  
  textarea {
    grid-area: textarea;
    width: 100%;
    padding: 16px 20px;
    border: 0;
    border-radius: 6px;
    background-color: var(--formbg);
    color: var(--t);
    font-size: 16px;
    resize: none;
  }

.projectsBar {
  position: relative;
  top: 142px;
  transition: var(--pageTransition);
}

.projectsBarShrink {
  top: 0px;
}

  @media only screen and (max-width: 750px) {
    .ProjectsLayout {
      gap: 20px;
    }
    .ProjectsLayout a {
      font-weight: 600;
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 460px) {
    html, body {
      overflow: visible;
    }
    body {
      background-image: none;
      background-color: var(--bgcsolid);
    }
    .pageContent {
      font-size: 14px;
    }
    .title img {
      position: absolute;
      top: 6px;
      right: 40px;
    }
    .form-box {
      background-color: var(--bgcsolid);
      box-shadow: 0 0 0 rgb(19, 19, 19);
      padding: 5px 0;
    }
    form {
      row-gap: 0px;
    }
    .input-container {
      height: 32px;
    }
    input:not([type="checkbox"]):focus ~ .cut,
    input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut {
      height: 18px;
    }
    input:not([type="checkbox"]):focus ~ .cut-short,
    input:not([type="checkbox"]):not(:placeholder-shown) ~ .cut-short {
      height: 18px;
    }    
    .placeholder {
      left: 14px;
      top: 8px;
    }
    input:not([type="checkbox"]):focus ~ .placeholder,
    input:not([type="checkbox"]):not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-18px) translateX(19px) scale(0.75);
    }
    .submit {
      margin-top: 18px;
      height: 40px;
    }
      .projectTitle {
    padding: 10px 0 7px 0;
    margin-top: 24px;
  }
    .projectContent {
      padding: 0 0 16px 12px;
      font-size: 14px;
    }
    iframe {
      height: calc(100vh - 365px);
    }
    .iframeGrow {
      height: calc(100vh - 220px);
    }
    .aboutArrowClose {
      display: block;
    }
  
    .aboutArrowOpen {
      display: block;
    }
    .badges {
      position: absolute;
      bottom: 15px;
      left: 10px;
      padding: 10px;
      display: flex;
      z-index: 3;
      backdrop-filter: blur(10px);
      border-radius: 10px;
    }
    .sectionRight {
      display: none;
    }
  }


  /* MARS AND NEWSFEED BREAKPOINTS: 1200PX */